<app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forget Your Password</h2>
                <form class="theme-form">
                    <div class="form-row">


                        <div class="col-md-12">

                            <input type="text" name="email" class="form-control"
                                [formControl]="checkoutForm.controls['email']" value="" placeholder="Enter Your Email"
                                autocomplete="off">
                            <div *ngIf="checkoutForm.controls.email.errors">

                                <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required"
                                    class="text text-danger">
                                    Email is required
                                </div>
                                <div *ngIf="checkoutForm.controls.email.errors.pattern" class="text text-danger">
                                    Invalid Email
                                </div>
                            </div>
                        </div>


                        <!-- <button class="btn btn-solid">Submit</button> -->

                        <button class="btn btn-solid" [disabled]="!checkoutForm.valid" (click)="forgotpwd()">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->