<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<!-- personal deatail section start -->
<!-- section start -->
<section class="register-page section-b-space" *ngIf="user_id">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>personal details</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Name</label>
                                <input type="text" name="user_name" class="form-control"
                                    [formControl]="checkoutForm.controls['user_name']" value="" placeholder="Name"
                                    autocomplete="off">
                                <div *ngIf="checkoutForm.controls.user_name.touched && checkoutForm.controls.user_name.errors?.required"
                                    class="text text-danger">
                                    Name is required.
                                </div>
                                <div *ngIf="checkoutForm.controls.user_name.touched && checkoutForm.controls.user_name.errors?.pattern"
                                    class="text text-danger">
                                    Name must be an alphabates.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="review">Password</label>

                                <input type="password" name="password" class="form-control"
                                    [formControl]="checkoutForm.controls['password']" value="" placeholder=""
                                    autocomplete="off">
                                <div *ngIf="checkoutForm.controls.password.errors">

                                    <!-- <div *ngIf="checkoutForm.controls.password.touched && checkoutForm.controls.password.errors?.required"
                                        class="text text-danger">
                                        Password is required.
                                    </div> -->

                                    <div *ngIf="checkoutForm.controls.password.errors?.required"
                                        class="text text-danger">
                                        Password is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.password.errors?.minlength"
                                        class="text text-danger">
                                        Minimum of 6 characters required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.password.errors?.maxlength"
                                        class="text text-danger">
                                        Maximum of 9 characters required
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Phone</label>
                                <input type="text" name="phone" class="form-control"
                                    [formControl]="checkoutForm.controls['phone']" value="" placeholder=""
                                    autocomplete="off">
                                <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required"
                                    class="text text-danger">
                                    Phone No is required.
                                </div>
                                <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern"
                                    class="text text-danger">
                                    Phone No is must be number.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="review">Email</label>
                                <input type="text" name="email" class="form-control"
                                    [formControl]="checkoutForm.controls['email']" value="" placeholder=""
                                    autocomplete="off">
                                <div *ngIf="checkoutForm.controls.email.errors">

                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required"
                                        class="text text-danger">
                                        Email is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.errors.pattern" class="text text-danger">
                                        Invalid Email
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Country</label>
                                <select name="country" class="form-control"
                                    [formControl]="checkoutForm.controls['country']">
                                    <option value="" selected>Select Country</option>
                                    <option value="India">India</option>

                                </select>
                                <!-- <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required"
                                    class="text text-danger">
                                    Country is required
                                </div> -->
                                <div *ngIf="checkoutForm.controls.country.errors?.required" class="text text-danger">
                                    Country is required
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="review">Address</label>
                                <input type="text" name="address" class="form-control"
                                    [formControl]="checkoutForm.controls['address']" value="" placeholder=""
                                    autocomplete="off">
                                <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required"
                                    class="text text-danger">
                                    Address is required
                                </div>
                                <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength"
                                    class="text text-danger">
                                    Maximum 50 character
                                </div>
                            </div>
                        </div>



                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Town/City</label>
                                <input type="text" name="city" class="form-control"
                                    [formControl]="checkoutForm.controls['city']" value="" placeholder=""
                                    autocomplete="off">
                                <div *ngIf="checkoutForm.controls.city.touched && checkoutForm.controls.city.errors?.required"
                                    class="text text-danger">
                                    City is required
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="review">State</label>
                                <input type="text" name="state" class="form-control"
                                    [formControl]="checkoutForm.controls['state']" value="" placeholder=""
                                    autocomplete="off">
                                <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required"
                                    class="text text-danger">
                                    State is required
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="email">Postal code</label>
                                <input type="text" name="zip_code" class="form-control"
                                    [formControl]="checkoutForm.controls['zip_code']" value="" placeholder=""
                                    autocomplete="off">
                                <div *ngIf="checkoutForm.controls.zip_code.touched && checkoutForm.controls.zip_code.errors?.required"
                                    class="text text-danger">
                                    Postalcode is required
                                </div>
                            </div>





                        </div>

                        <button type="submit" class="btn btn-solid" [disabled]="!checkoutForm.valid" (click)="update()">
                            update Account
                        </button>

                        <button class="btn btn-solid" (click)="forgotpwd()" style="float: right;">
                            Forgot password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<!-- Section start -->

<section class="register-page section-b-space" *ngIf="!user_id">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Please login or create an account .</h3>
            </div>
        </div>
    </div>
</section>

<!-- Section End -->