<div *ngIf="!loader">
  <div class="img-wrapper">
    <!-- <div class="lable-block">
      <span class="lable3" *ngIf="product.new">new</span>
      <span class="lable4" *ngIf="product.sale">on sale</span>
    </div> -->
    <div class="front">
      <a (click)="getOneProduct(product.id)" style="cursor: -webkit-grab; cursor: grab;">

        <!-- <img
          [defaultImage]="ImageSrc ? ImageSrc : 'https://wellnessecommerce.s3.ap-south-1.amazonaws.com/1655957513788.png'"
          [lazyLoad]="ImageSrc ? ImageSrc : product.images[0].src" class="img-fluid lazy-loading" alt="product image" /> -->
        <img src="{{product.img_url}}" alt="product image" class="img-fluid lazy-loading" alt="product image" />
      </a>
    </div>
    <div class="back" *ngIf="onHowerChangeImage">
      <a (click)="getOneProduct(product.id)" style="cursor: -webkit-grab; cursor: grab;">

        <img src="{{product.img_url}}" class="img-fluid lazy-loading" alt="product image">
      </a>
    </div>
    <!-- <ul class="product-thumb-list" *ngIf="thumbnail">
      <li class="grid_thumb_img" [class.active]="ImageSrc == image.src" *ngFor="let image of product.images">
        <a href="javascript:void(0)" (mouseover)="ChangeVariantsImage(image.src)">
          <img [lazyLoad]="image.src">
        </a>
      </li>
    </ul> -->
    <div class="cart-info cart-wrap">
      <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(product)" *ngIf="cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(product)" *ngIf="!cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" title="Add to Wishlist" (click)="addToWishlist(product)">
        <i class="ti-heart" aria-hidden="true"></i>
      </a>
      <!-- <a href="javascript:void(0)" title="Quick View" (click)="QuickView.openModal()">
        <i class="ti-search" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" title="Compare" (click)="addToCompare(product)">
        <i class="ti-reload" aria-hidden="true"></i>
      </a> -->
    </div>
  </div>
  <div class="product-detail">
    <div>
      <bar-rating rate="{{product?.rating}}" [readOnly]="true"></bar-rating>
      <a [routerLink]="['/shop/product/left/sidebar/', product?.id]">
        <h6 style="color: black;">{{ product?.name | titlecase }}</h6>

      </a>

      <p>{{ product?.description }}</p>

      <h4 style="color: red;">
        {{ product?.price | currency:currency?.currency:'symbol' }}
        <del><span class="money"> {{ product?.old_price |
            currency:currency?.currency:'symbol' }}</span></del>
        &nbsp;&nbsp;
        ( {{product?.discount}} % off )
      </h4>
      <!-- <h4>
        {{product?.price}}
      </h4> -->
      <!-- <ul class="color-variant" *ngIf="Color(product?.variants).length">
        <li [class]="color" *ngFor="let color of Color(product?.variants)" [ngStyle]="{'background-color': color}"
          (click)="ChangeVariants(color, product)">
        </li>
      </ul> -->
    </div>
  </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="product" [currency]="currency" *ngIf="cartModal"></app-cart-modal>